<% content_for :jumbotron do %>
  <header class="jumbotron mb-4 bg-dark text-center">
    <div class="container">
      <h1 class="display-3">A Warm Welcome!</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
      <%= link_to 'Ask Something', new_question_path, class: 'btn btn-warning btn-lg mr-2' %>
    </div>
  </header>
<% end %>